<div class="block-header block-header--has-breadcrumb block-header--has-title">
    <div class="container">
        <div class="block-header__body">
            <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb__list">
                    <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                    <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                        <%= link_to 'Trang Chủ', root_link, title: '', class: 'breadcrumb__item-link' %>
                    </li>
                    <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                        <span class="breadcrumb__item-link">Bàn Thờ</span>
                    </li>
                    <li class="breadcrumb__title-safe-area" role="presentation"></li>
                </ol>
            </nav>
            <h1 class="block-header__title">Bàn Thờ</h1>
        </div>
    </div>
</div>
<div class="block block-split">
    <div class="container">
        <div class="block-split__row row no-gutters">
            <div class="block-split__item block-split__item-content col-auto">
                <div class="block">
                    <div class="categories-list categories-list--layout--columns-5-full">
                        <ul class="categories-list__body">
                            <% (0..9).each do |category| %>
                            <li class="categories-list__item">
                                <a href="<%= product_listing_link %>">
                                    <%= image_tag '/dogoviet/img/tmp/category-200x200.jpg', alt: '', title: '' %>
                                    <div class="categories-list__item-name">Bàn Thờ Ông Địa - Thần Tài</div>
                                </a>
                                <div class="categories-list__item-products">80 sản phẩm</div>
                            </li>
                            <li class="categories-list__divider"></li>
                            <% end %>
                        </ul>
                    </div>
                </div>                
                <%= render "erp/dogoviet/frontend/modules/newest_listing" %>
            </div>
        </div>
        <div class="block-space block-space--layout--divider-xs"></div>
    </div>
</div>